body {
  background-color: black; 
  color:#E0E0E0;            
  font-family: Arial, sans-serif; 
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	border: none;
	appearance : none;
	background: #f2f2f2;
	padding: 12px;
	border-radius: 3px;
	width: 250px;
	outline: none;
}

input:focus::placeholder {
	color: transparent;
}

input::placeholder {
	color: #222;
	transition: color 0.3s ease;
}

button {
  border: none;
  background: #222;
  color: #fff; 
  padding: 12px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #444;
}

button:active {
  background: #000;
}


